.listDataTableDiv{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
h1{
	margin-left: 70px;
}

.pagination{
	width: 400px;
	position: absolute;
	left: 600px;
}

.clear{clear:both;}

.eachPV{
	width: 600px;
	display: inline-block;
	text-align: right;
}


.pvValue{
	float: right;
}

#panel{
	width: 400px;
	height: 200px;
	position: absolute;
	left: 500px;
	bottom: 0px;
}



